<media-search (search)="searchMovie($event)"></media-search>

<ul class="collection " #list>
    <li class="collection-item avatar " *ngFor="let movie of searchedMovies; let i = index">
        <div (click)="addMovie(movie.onlineId, isPublic[i])">
            <img [src]="movie.poster " [alt]="movie.title " />
            <span class="title ">{{movie.title}}</span>
        </div>

        <div class="switch">
            <label>
              private
              <input type="checkbox" [(ngModel)]="isPublic[i]">
              <span class="lever"></span>
              public
            </label>
        </div>
    </li>
</ul>