<form #searchForm="ngForm" (ngSubmit)="searchMovie(searchForm.value)" novalidate>
    <input #title="ngModel" [ngClass]="searchForm.invalid && searchForm.pristine && searchForm.untouched ? 'invalid' : ''" type="text" placeholder="search for movie" name="title" required minlength="2" ngModel>

    <ng-container *ngIf="title.invalid">
        <span *ngIf="title.errors?.required">Search is required</span>
        <span *ngIf="title.errors?.minlength">Search has a min length of 2 (current length is {{title.errors.minlength.actualLength}})</span>
    </ng-container>
    <button type="submit" [disabled]="searchForm.invalid">Search</button>
</form>

<ul class="collection " #list>
    <li class="collection-item avatar " *ngFor="let movie of searchedMovies; let i = index">
        <div (click)="addMovie(movie.onlineId, isPublic[i])">
            <img [src]="movie.poster " [alt]="movie.title " />
            <span class="title ">{{movie.title}}</span>
        </div>

        <div class="switch">
            <label>
              private
              <input type="checkbox" [(ngModel)]="isPublic[i]">
              <span class="lever"></span>
              public
            </label>
        </div>
    </li>
</ul>